<mat-sidenav-container fxFlexFill class="sidenav-container" autosize>

    <mat-sidenav #drawer fxLayout="column" class="sidenav" fixedInViewport

        [mode]="'side'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list  fxLayout="column">
        <a mat-list-item routerLink="">
          <mat-icon aria-hidden="false">home</mat-icon>
          <span></span>
          Dashboard
        </a>
        <a mat-list-item routerLink="/ownerReg">
          <mat-icon aria-hidden="false">person_add</mat-icon>
          <span width="10px"></span>
          </a>
        <a mat-list-item routerLink="/driverReg">
          <mat-icon aria-hidden="false">person_add</mat-icon>
          <span></span>
        </a>
        <a mat-list-item routerLink="/vehicleReg">
          <mat-icon aria-hidden="false">directions_car</mat-icon>
          <span></span>
        </a>
        <a mat-list-item routerLink="/trips">
          <mat-icon aria-hidden="false">navigation</mat-icon>
          <span></span>
        </a>
        <a mat-list-item routerLink="/confirmed-trips">
          <mat-icon aria-hidden="false">navigation</mat-icon>
          <span></span>
        </a>
        <a mat-list-item routerLink="/bided-trips">
          <mat-icon aria-hidden="false">navigation</mat-icon>
          <span></span>
        </a>
      </mat-nav-list>    
    
    </mat-sidenav>
    
    <!-- *ngIf="isLoggedIn$ | async *ngIf="isLoggedIn$ | async" -->
    <mat-sidenav-content fxFlexFill>
      <mat-toolbar color="primary" >
        <button type="button" fxShow="true" fxHide.gt-sm="true" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button  routerLink="" style="font-size: 1em;">Dashboard</a>
          <a mat-button  routerLink="/">Find a Coach</a>
          <a mat-button  routerLink="/">Previous Trips</a>
          <a mat-button  routerLink="/passenger">Passengers</a>
          <a mat-button  routerLink="/trips">Coachs</a>
          
        </div>
        <span class="example-spacer"></span>
        
        <button mat-button (click)="logout()">
          <mat-icon class="example-icon">logout</mat-icon>
          Logout
        </button>
      </mat-toolbar>
      
      <!-- <app-loader></app-loader> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container> 