
<div>
    <p>login works!</p>
    <button mat-button (click)="butn()">Click</button>

    <code> promise|async </code>: 

    <button (click)="clicked()">{{ arrived ? 'Reset' : 'Resolve' }}</button>


    <span>Wait for it... {{ greeting | async }}</span>

    <code>observable|async</code>: Time: {{ time | async }}

    <code>observable|async</code>: Time: {{ times | async }}

    <div *ngIf="usersRole | async">
        this is rediculous user role 1
    </div>

    <div *ngIf="usersRole$ | async">
        this is rediculous user role 2
    </div>
{{ usersRole$.source._value }}
    
  </div>