<h3 mat-dialog-title>Confirm Reservation</h3>
<mat-dialog-content>
  <p>Available Seat No </p>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedNo">
      <mat-option *ngFor="let seat of data" [value]="seat">
        Seat No : {{seat}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row">
  <button
    fxLayoutAlign="start end"
    mat-raised-button
    color="primary"
    (click)="onClick()"
  >
    Reserve
  </button>
  <button
    fxLayoutAlign="end start"
    mat-raised-button
    color="warn"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
</mat-dialog-actions>
